'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'symbols-view-click:toggle-file-symbols' }
        { 'label': 'Project Symbols', 'command': 'symbols-view-click:toggle-project-symbols' }
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor:not([mini])': [
    { 'label': 'Go to Declaration', 'command': 'symbols-view-click:go-to-declaration' }
  ]
